
:root{ 
    /* colores */
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --just-white: #fff;

    /* font */
    --font-family: 'Outfit', sans-serif;
}
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-family);
    font-size: 0.938rem;
}  
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-gray);
}

.qr-card{
    width: 300px;
    height: 475px;
    background-color: white;
    color: var(--desaturated-blue);
    border-radius: 15px ;
    margin: auto;
    }

img{
    width: 270px;
    height: 275px;  
    margin: 15px;
    border-radius: 10px ; 
}

.qr-card__info{
    margin: 5px 15px;
    text-align: center;
}

.qr-card__info h2{
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.qr-card__info p{
    color: var(--grayish-blue);
}
